@use 'assets/styles/theme-kobo' as *;
@use 'assets/styles/kobo-form' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/materialIcons-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/fontawesome-webfont.woff?v=4.6.2') format('woff');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fefefe;
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.enketo-power {
  display: none;
}

#form-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.datepicker {
  z-index: 2000 !important;
}

.footer-container {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.footer-container :nth-child(1) {
  flex: 1 1 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  line-height: 1;
  font-weight: lighter;
}

.footer-container :nth-child(n + 2) {
  flex: 0 1 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
